extends layout.pug

block content

  form.app-form(method="POST")

    h2 Login

    label Username / Email
    input(type="text" placeholder="example@email.com")
    label Password
    input(type="text" placeholder="*********")
    input.btn(type="submit" value="Submit")
