.app-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 2rem;
  border: 2px solid white;
  background: khaki;
}

.app-form label,
input, textarea {
  margin: .5rem;
}

.app-form h2 {
  text-align: center;
}
